<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Any Questions?</title>

  <link href="/stylesheets/foundation.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <!--[if IE lt 9]>
      <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.reveal.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.orbit-1.4.0.js" type="text/javascript"></script>
  <script type="text/javascript">
     $(window).load(function() {
         $('#slides').orbit();
     });
  </script>
</head>
<body>
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h1>Questions?</h1>
      </div>
      <div class="six columns">
        <a class="radius green button full-width" data-reveal-id="question-form">Ask!</a>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div id="question-form" class="reveal-modal">
          <h2>Just ask!</h2>
          <form action="question" method="post" class="nice">
            <label for="name">Your name:</label>
            <input name="name" type="textfield" class="input-text expand" id="name" />
            <label for="question">The question:</label>
            <textarea name="question" class="input-text expand" id="question" rows="5" columns="12"></textarea>
            <input class="radius green button full-width" type="submit" value="Ask!" />
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div id="slides">
        <% @questions.each do |question| %>
          <img src="/images/<%= question.id %>.jpg" alt="<%= h question.question %>" data-caption="#question-<%= question.id %>" />
        <% end %>
        </div>

        <% @questions.each do |question| %>
          <span class="orbit-caption" id="question-<%= question.id %>">
            <cite><%= h question.question %></cite>
            <br /><strong class="name">-- <%= h question.name %></strong>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
