<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Any Questions?</title>

  <link href="/stylesheets/foundation.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <!--[if IE lt 9]>
      <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.reveal.js" type="text/javascript"></script>
  <script>
    function nextSlide() {
      var active = $('#questions .question.active');
      var next = active.next();

      active.fadeOut("slow", "swing").removeClass('active').next().fadeIn("slow", "swing").addClass('active');
    }
    function prevSlide() {
      var active = $('#questions .question.active');
      var prev = active.prev();

      prev.addClass('active').show();
      active.removeClass('active').hide();
    }

    $(function() {
      //Make the data-dash-image stuffs the backgrounds and preload.
      $('#questions .question').each(function() {
        var c = new Image();
        var path = $(this).data("image");
        $(this).css('background-image', 'url('+ path +')');
        c.src = path;
      });

      //Attach onclick on .next and prev
      $("a.next").click(function() {
        nextSlide();
      });
      $("a.prev").click(function() {
        prevSlide();
      });
    });
  </script>
</head>
<body>
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a class="radius green button full-width" data-reveal-id="question-form"><strong>&#8615;</strong> Ask!</a>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div id="question-form" class="reveal-modal">
          <h2>Just ask!</h2>
          <form action="question" method="post" class="nice">
            <label for="name">Your name:</label>
            <input name="name" type="textfield" class="input-text expand" id="name" />
            <label for="question">The question: (max. 160 characters)</label>
            <textarea name="question" class="input-text expand" id="question" rows="5" columns="12"></textarea>
            <input class="radius green button full-width" type="submit" value="Ask!" />
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>
  </div>
  <div id="questions">
    <% @questions.each_with_index do |question, index| %>
      <div class="question<%= " active" if index == 0 %>" id="q-<%= question.id %>" data-image="/images/<%= question.id %>.jpg">
        <cite><%= h question.question %></cite>
        <strong class="name">&#150; <%= h question.name %></strong>
        <% if index < @questions.size %>
          <a href="#q-<%= question.id %>" class="next">&#8594;</a>
        <% end %>
        <% if index > 0 %>
          <a href="#q-<%= question.id %>" class="prev">&#8592;</a>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
